input, textarea, .select2-container {
	display: block;
	width: 100%;
	margin-bottom: 1em;
	min-height: 26px;
}

#create_review {
	width: 500px;
}

label {
	font-size: 115%;
	font-weight: bold;
	margin-bottom: 0.25em;
	color: gray;
	display: inline-block;
}